@charset "UTF-8";

/* Versão Monile First */

/* Paleta de cores */
:root{
    --verde: #e2eb98;
    --cinza: #8e9aaf;
    --laranja: #fb905e;
    --cinza-marrom: #36382e;
    --azul: #5bc3eb;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cinza-marrom);
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 520px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
    border: 2px solid var(--azul);
    transition-duration: 0.5s;
}

section#login div#imagem{
    background-color: black;
    background-image: url('../imagens/pexels-sean-whang-804269.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40%;
    border-radius: 19px 19px 0px 0px;
}

section#login div#tela-login h1{
    text-align: center;
    padding: 20px;
    font-size: 2.2em;
}

div#tela-login p{
    padding: 0 8px 8px 8px;
}

section#email{
    background-color: var(--azul);
    text-align: center;
    margin: 7px 5px 0 5px;
    border-radius: 8px;
    height: 40px;
    position: relative;
}

section#email img{
    height: 37px;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
}

section#email input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 230px;
}

section#senha{
    background-color: var(--azul);
    text-align: center;
    margin: 7px 5px 0 5px;
    border-radius: 8px;
    height: 40px;
    position: relative;
}

section#senha img{
    height: 37px;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
}

section#senha input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 230px;
}

section#email input, section#senha input{
    font-size: 1em;
}

section#email input:focus-within, section#senha input:focus-within{
    background-color: var(--verde);
}


div#sub1{
    display: block;
    margin-top: 17px;
    margin-bottom: 5px;
}

div > section#sub{
    position: relative;
    height: 50px;
}

section#sub input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: 45px;
    width: 285px;
    border-radius: 10px;
    border-color: lightgray;
    box-shadow: none;
    background-color: white;
    border: 2px solid var(--cinza);
    font-size: 1em;
}

section#sub input:hover{
    background-color: var(--cinza);
    color: white;
    border: 2px solid var(--laranja);
}

section#eas{
    display: block;
}

section#eas a{
    text-decoration: none;
    display: block;
    width: 138px;
    padding-top: 10px;
    margin: auto;
    font-size: 0.9em;
    color: rgb(74, 74, 74);
}

section#eas a:hover{
    text-decoration: underline;
}
